# **NBA Data Analysis**

## **Dependencies**

In [33]:
import pandas as pd 
import numpy as np

In [34]:
games_df=pd.read_csv(r"C:\Users\benij\ds_project\statistella_project\data\raw\games.csv")
games_details_df=pd.read_csv(r"C:\Users\benij\ds_project\statistella_project\data\raw\games_details.csv")
teams_df=pd.read_csv(r"C:\Users\benij\ds_project\statistella_project\data\raw\teams.csv")
players_df=pd.read_csv(r"C:\Users\benij\ds_project\statistella_project\data\raw\players.csv")

C:\Users\benij\AppData\Local\Temp\ipykernel_31080\1492322796.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  games_details_df=pd.read_csv(r"C:\Users\benij\ds_project\statistella_project\data\raw\games_details.csv")

In [35]:
players_df[players_df['PLAYER_NAME']=="Royce O'Neale"]

        PLAYER_NAME     TEAM_ID  PLAYER_ID  SEASON
0     Royce O'Neale  1610612762    1626220    2019
770   Royce O'Neale  1610612762    1626220    2018
1444  Royce O'Neale  1610612762    1626220    2017

In [36]:
teams_df

,LEAGUE_ID,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,0,1610612737,1949,2019,ATL,Hawks,1949,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Lloyd Pierce,Erie Bayhawks
1,0,1610612738,1946,2019,BOS,Celtics,1946,Boston,TD Garden,18624.0,Wyc Grousbeck,Danny Ainge,Brad Stevens,Maine Red Claws
2,0,1610612740,2002,2019,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
3,0,1610612741,1966,2019,CHI,Bulls,1966,Chicago,United Center,21711.0,Jerry Reinsdorf,Gar Forman,Jim Boylen,Windy City Bulls
4,0,1610612742,1980,2019,DAL,Mavericks,1980,Dallas,American Airlines Center,19200.0,Mark Cuban,Donnie Nelson,Rick Carlisle,Texas Legends
5,0,1610612743,1976,2019,DEN,Nuggets,1976,Denver,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate
6,0,1610612745,1967,2019,HOU,Rockets,1967,Houston,Toyota Center,18104.0,Tilman Fertitta,Daryl Morey,Mike D'Antoni,Rio Grande Valley Vipers
7,0,1610612746,1970,2019,LAC,Clippers,1970,Los Angeles,Staples Center,19060.0,Steve Ballmer,Michael Winger,Doc Rivers,Agua Caliente Clippers of Ontario
8,0,1610612747,1948,2019,LAL,Lakers,1948,Los Angeles,Staples Center,19060.0,Jerry Buss Family Trust,Rob Pelinka,Frank Vogel,South Bay Lakers
9,0,1610612748,1988,2019,MIA,Heat,1988,Miami,AmericanAirlines Arena,19600.0,Micky Arison,Pat Riley,Erik Spoelstra,Sioux Falls Skyforce
10,0,1610612749,1968,2019,MIL,Bucks,1968,Milwaukee,Fiserv Forum,17500.0,Wesley Edens & Marc Lasry,Jon Horst,Mike Budenholzer,Wisconsin Herd
11,0,1610612750,1989,2019,MIN,Timberwolves,1989,Minnesota,Target Center,19356.0,Glen Taylor,Scott Layden,Ryan Saunders,Iowa Wolves
12,0,1610612751,1976,2019,BKN,Nets,1976,Brooklyn,Barclays Center,NaN,Joe Tsai,Sean Marks,Kenny Atkinson,Long Island Nets
13,0,1610612752,1946,2019,NYK,Knicks,1946,New York,Madison Square Garden,19763.0,Cablevision (James Dolan),Steve Mills,David Fizdale,Westchester Knicks
14,0,1610612753,1989,2019,ORL,Magic,1989,Orlando,Amway Center,0.0,Rick DeVos,John Hammond,Steve Clifford,Lakeland Magic
15,0,1610612754,1976,2019,IND,Pacers,1976,Indiana,Bankers Life Fieldhouse,18345.0,Herb Simon,Kevin Pritchard,Nate McMillan,Fort Wayne Mad Ants
16,0,1610612755,1949,2019,PHI,76ers,1949,Philadelphia,Wells Fargo Center,NaN,Joshua Harris,Elton Brand,Brett Brown,Delaware Blue Coats
17,0,1610612756,1968,2019,PHX,Suns,1968,Phoenix,Talking Stick Resort Arena,NaN,Robert Sarver,James Jones,Monty Williams,Northern Arizona Suns
18,0,1610612757,1970,2019,POR,Trail Blazers,1970,Portland,Moda Center,19980.0,Paul Allen,Neil Olshey,Terry Stotts,No Affiliate
19,0,1610612758,1948,2019,SAC,Kings,1948,Sacramento,Golden 1 Center,17500.0,Vivek Ranadive,Vlade Divac,Luke Walton,Stockton Kings
20,0,1610612759,1976,2019,SAS,Spurs,1976,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
21,0,1610612760,1967,2019,OKC,Thunder,1967,Oklahoma City,Chesapeake Energy Arena,19163.0,Clay Bennett,Sam Presti,Billy Donovan,Oklahoma City Blue
22,0,1610612761,1995,2019,TOR,Raptors,1995,Toronto,Scotiabank Arena,19800.0,Maple Leaf Sports and Entertainment,Masai Ujiri,Nick Nurse,Raptors 905
23,0,1610612762,1974,2019,UTA,Jazz,1974,Utah,Vivint Smart Home Arena,20148.0,Greg Miller,Dennis Lindsey,Quin Snyder,Salt Lake City Stars
24,0,1610612763,1995,2019,MEM,Grizzlies,1995,Memphis,FedExForum,18119.0,Robert Pera,Zach Kleiman,Taylor Jenkins,Memphis Hustle
25,0,1610612764,1961,2019,WAS,Wizards,1961,Washington,Capital One Arena,20647.0,Ted Leonsis,Tommy Sheppard,Scott Brooks,Capital City Go-Go
26,0,1610612765,1948,2019,DET,Pistons,1948,Detroit,Little Caesars Arena,21000.0,Tom Gores,Ed Stefanski,Dwane Casey,Grand Rapids Drive
27,0,1610612766,1988,2019,CHA,Hornets,1988,Charlotte,Spectrum Center,19026.0,Michael Jordan,Mitch Kupchak,James Borrego,Greensboro Swarm
28,0,1610612739,1970,2019,CLE,Cavaliers,1970,Cleveland,Quicken Loans Arena,20562.0,Dan Gilbert,Koby Altman,John Beilein,Canton Charge
29,0,1610612744,1946,2019,GSW,Warriors,1946,Golden State,Chase Center,19596.0,Joe Lacob,Bob Myers,Steve Kerr,Santa Cruz Warriors

In [37]:
(games_df['TEAM_ID_away']==games_df['VISITOR_TEAM_ID']).unique()

array([ True])

In [38]:
games_details_df

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,18:06,...,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0
1,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,NaN,31:01,...,6.0,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0
2,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,NaN,21:42,...,1.0,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0
3,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,30:20,...,0.0,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0
4,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,27:44,...,0.0,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668623,11200005,1610612743,DEN,Denver,202706,Jordan Hamilton,NaN,NaN,NaN,19,...,0.0,2.0,2.0,0.0,2.0,0.0,1.0,3.0,17.0,NaN
668624,11200005,1610612743,DEN,Denver,202702,Kenneth Faried,NaN,NaN,NaN,23,...,1.0,0.0,1.0,1.0,1.0,0.0,3.0,3.0,18.0,NaN
668625,11200005,1610612743,DEN,Denver,201585,Kosta Koufos,NaN,NaN,NaN,15,...,3.0,5.0,8.0,0.0,1.0,0.0,0.0,3.0,6.0,NaN
668626,11200005,1610612743,DEN,Denver,202389,Timofey Mozgov,NaN,NaN,NaN,19,...,1.0,2.0,3.0,1.0,0.0,0.0,4.0,2.0,2.0,NaN
668627,11200005,1610612743,DEN,Denver,201951,Ty Lawson,NaN,NaN,NaN,27,...,0.0,2.0,2.0,6.0,2.0,0.0,6.0,1.0,8.0,NaN

In [39]:
games_df['GAME_ID'].unique()

array([22200477, 22200478, 22200466, ..., 11400005, 11400002, 11400001],
      shape=(26622,))

In [40]:
games_details_df['GAME_ID'].unique()

array([22200477, 22200478, 22200466, ..., 11200007, 11200009, 11200005],
      shape=(26523,))

In [41]:
games_df.isnull().sum()

GAME_DATE_EST        0
GAME_ID              0
GAME_STATUS_TEXT     0
HOME_TEAM_ID         0
VISITOR_TEAM_ID      0
SEASON               0
TEAM_ID_home         0
PTS_home            99
FG_PCT_home         99
FT_PCT_home         99
FG3_PCT_home        99
AST_home            99
REB_home            99
TEAM_ID_away         0
PTS_away            99
FG_PCT_away         99
FT_PCT_away         99
FG3_PCT_away        99
AST_away            99
REB_away            99
HOME_TEAM_WINS       0
dtype: int64

In [42]:
games_details_df.START_POSITION.isnull().sum()

np.int64(412863)

In [43]:
games_df[games_df['PTS_home'].isnull()].describe(include=['float64'])

,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
games_df_v1=games_df[~games_df['PTS_home'].isnull()].drop(columns=['GAME_STATUS_TEXT'],axis=1)

In [45]:
games_df_v1.sort_values(by=['GAME_DATE_EST'])

,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
19288,2003-10-05,10300001,1610612762,1610612742,2003,1610612762,90.0,0.457,0.735,0.143,23.0,41.0,1610612742,85.0,0.447,0.500,0.250,20.0,38.0,1
19287,2003-10-06,10300002,1610612763,1610612749,2003,1610612763,105.0,0.494,0.618,0.267,25.0,48.0,1610612749,94.0,0.427,0.700,0.154,20.0,43.0,1
19280,2003-10-07,10300010,1610612764,1610612752,2003,1610612764,104.0,0.506,0.677,0.455,26.0,45.0,1610612752,86.0,0.380,0.852,0.188,19.0,37.0,1
19286,2003-10-07,10300009,1610612758,1610612746,2003,1610612758,101.0,0.467,0.871,0.444,19.0,39.0,1610612746,82.0,0.368,0.609,0.364,13.0,50.0,1
19285,2003-10-07,10300005,1610612757,1610612745,2003,1610612757,104.0,0.527,0.657,0.429,22.0,33.0,1610612745,80.0,0.470,0.667,0.333,10.0,37.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,2022-12-21,22200469,1610612738,1610612754,2022,1610612738,112.0,0.386,0.840,0.317,26.0,62.0,1610612754,117.0,0.469,0.778,0.462,27.0,47.0,0
4,2022-12-21,22200468,1610612737,1610612741,2022,1610612737,108.0,0.429,1.000,0.378,22.0,47.0,1610612741,110.0,0.500,0.773,0.292,20.0,47.0,0
3,2022-12-21,22200467,1610612755,1610612765,2022,1610612755,113.0,0.441,0.909,0.297,27.0,49.0,1610612765,93.0,0.392,0.735,0.261,15.0,46.0,1
1,2022-12-22,22200478,1610612762,1610612764,2022,1610612762,120.0,0.488,0.952,0.457,16.0,40.0,1610612764,112.0,0.561,0.765,0.333,20.0,37.0,1
0,2022-12-22,22200477,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,0.382,25.0,46.0,1610612759,117.0,0.478,0.815,0.321,23.0,44.0,1

In [46]:
games_details_df['MIN'].str.replace(":",".").str.replace(".000000","").astype('float').max()

np.float64(96.0)

In [47]:
games_details_df[games_details_df['MIN'].str.len()>=6]

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
422,22200465,1610612763,MEM,Memphis,1628415,Dillon Brooks,Dillon,F,NaN,29.000000:24,...,0.0,7.0,7.0,1.0,3.0,0.0,1.0,5.0,11.0,-21.0
423,22200465,1610612763,MEM,Memphis,1628991,Jaren Jackson Jr.,Jaren,F,NaN,21.000000:45,...,0.0,2.0,2.0,1.0,3.0,5.0,1.0,5.0,8.0,-13.0
424,22200465,1610612763,MEM,Memphis,203500,Steven Adams,Steven,C,NaN,30.000000:05,...,4.0,6.0,10.0,2.0,1.0,0.0,2.0,2.0,4.0,-8.0
425,22200465,1610612763,MEM,Memphis,1629723,John Konchar,John,G,NaN,15.000000:34,...,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,-14.0
426,22200465,1610612763,MEM,Memphis,1629630,Ja Morant,Ja,G,NaN,38.000000:04,...,0.0,1.0,1.0,10.0,0.0,0.0,7.0,2.0,35.0,-16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22121,22101043,1610612758,SAC,Sacramento,1630558,Davion Mitchell,Davion,NaN,NaN,30.000000:11,...,0.0,3.0,3.0,4.0,1.0,0.0,0.0,5.0,19.0,-1.0
22122,22101043,1610612758,SAC,Sacramento,1626158,Richaun Holmes,Richaun,NaN,NaN,12.000000:50,...,1.0,1.0,2.0,1.0,0.0,1.0,0.0,1.0,6.0,11.0
22123,22101043,1610612758,SAC,Sacramento,1628978,Donte DiVincenzo,Donte,NaN,NaN,29.000000:44,...,1.0,3.0,4.0,1.0,3.0,0.0,1.0,1.0,19.0,-2.0
22124,22101043,1610612758,SAC,Sacramento,1629002,Chimezie Metu,Chimezie,NaN,NaN,12.000000:11,...,2.0,1.0,3.0,1.0,0.0,1.0,0.0,4.0,9.0,5.0
22125,22101043,1610612758,SAC,Sacramento,203090,Maurice Harkless,Maurice,NaN,NaN,3.000000:10,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,-2.0

In [48]:
games_vc_df=pd.DataFrame(games_df['GAME_ID'].value_counts())

In [49]:
games_vc_df[games_vc_df['count']==2].index

Index([22000057, 22000034, 22000028, 22000015, 22000037, 22000046, 22000038,
       22000030, 22000049, 22000011, 22000051, 22000021, 22000070, 22000053,
       22000072, 22000022, 22000055, 22000006, 22000076, 22000077, 22000042,
       22000007, 22000044, 22000018, 22000065, 22000013, 22000067, 22000032,
       22000027],
      dtype='int64', name='GAME_ID')

In [50]:
games_df_v1[games_df_v1['GAME_ID'].isin(games_vc_df[games_vc_df['count']==2].index)].sort_values(by=['GAME_ID'])

,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
2535,2020-12-25,22000006,1610612749,1610612744,2020,1610612749,138.0,0.556,0.692,0.556,25.0,60.0,1610612744,99.0,0.343,0.840,0.222,14.0,43.0,1
3125,2020-12-25,22000006,1610612749,1610612744,2020,1610612749,138.0,0.556,0.692,0.556,25.0,60.0,1610612744,99.0,0.343,0.840,0.222,14.0,43.0,1
3126,2020-12-25,22000007,1610612738,1610612751,2020,1610612738,95.0,0.378,0.684,0.296,23.0,47.0,1610612751,123.0,0.539,0.839,0.517,21.0,43.0,0
2536,2020-12-25,22000007,1610612738,1610612751,2020,1610612738,95.0,0.378,0.684,0.296,23.0,47.0,1610612751,123.0,0.539,0.839,0.517,21.0,43.0,0
2540,2020-12-23,22000011,1610612754,1610612752,2020,1610612754,121.0,0.489,0.724,0.235,28.0,50.0,1610612752,107.0,0.459,0.739,0.429,25.0,40.0,1
3127,2020-12-23,22000011,1610612754,1610612752,2020,1610612754,121.0,0.489,0.724,0.235,28.0,50.0,1610612752,107.0,0.459,0.739,0.429,25.0,40.0,1
3128,2020-12-23,22000013,1610612755,1610612764,2020,1610612755,113.0,0.471,0.767,0.286,22.0,47.0,1610612764,107.0,0.459,0.696,0.481,28.0,40.0,1
2542,2020-12-23,22000013,1610612755,1610612764,2020,1610612755,113.0,0.471,0.767,0.286,22.0,47.0,1610612764,107.0,0.459,0.696,0.481,28.0,40.0,1
2545,2020-12-23,22000015,1610612741,1610612737,2020,1610612741,104.0,0.414,0.857,0.229,20.0,37.0,1610612737,124.0,0.538,0.828,0.400,24.0,46.0,0
3129,2020-12-23,22000015,1610612741,1610612737,2020,1610612741,104.0,0.414,0.857,0.229,20.0,37.0,1610612737,124.0,0.538,0.828,0.400,24.0,46.0,0
3130,2020-12-23,22000018,1610612750,1610612765,2020,1610612750,111.0,0.432,0.857,0.268,25.0,48.0,1610612765,101.0,0.484,0.375,0.229,29.0,44.0,1
2547,2020-12-23,22000018,1610612750,1610612765,2020,1610612750,111.0,0.432,0.857,0.268,25.0,48.0,1610612765,101.0,0.484,0.375,0.229,29.0,44.0,1
2524,2020-12-26,22000021,1610612763,1610612737,2020,1610612763,112.0,0.398,0.862,0.302,20.0,46.0,1610612737,122.0,0.427,0.868,0.361,23.0,54.0,0
3120,2020-12-26,22000021,1610612763,1610612737,2020,1610612763,112.0,0.398,0.862,0.302,20.0,46.0,1610612737,122.0,0.427,0.868,0.361,23.0,54.0,0
3121,2020-12-26,22000022,1610612766,1610612760,2020,1610612766,107.0,0.398,0.625,0.406,27.0,47.0,1610612760,109.0,0.455,0.792,0.278,25.0,54.0,0
2525,2020-12-26,22000022,1610612766,1610612760,2020,1610612766,107.0,0.398,0.625,0.406,27.0,47.0,1610612760,109.0,0.455,0.792,0.278,25.0,54.0,0
2530,2020-12-26,22000027,1610612759,1610612761,2020,1610612759,119.0,0.470,0.688,0.412,36.0,53.0,1610612761,114.0,0.458,0.733,0.366,32.0,46.0,1
3122,2020-12-26,22000027,1610612759,1610612761,2020,1610612759,119.0,0.470,0.688,0.412,36.0,53.0,1610612761,114.0,0.458,0.733,0.366,32.0,46.0,1
3123,2020-12-26,22000028,1610612762,1610612750,2020,1610612762,111.0,0.383,0.784,0.294,15.0,57.0,1610612750,116.0,0.446,0.722,0.448,21.0,40.0,0
2531,2020-12-26,22000028,1610612762,1610612750,2020,1610612762,111.0,0.383,0.784,0.294,15.0,57.0,1610612750,116.0,0.446,0.722,0.448,21.0,40.0,0
2533,2020-12-26,22000030,1610612758,1610612756,2020,1610612758,106.0,0.453,0.697,0.217,20.0,56.0,1610612756,103.0,0.418,0.769,0.250,25.0,40.0,1
3124,2020-12-26,22000030,1610612758,1610612756,2020,1610612758,106.0,0.453,0.697,0.217,20.0,56.0,1610612756,103.0,0.418,0.769,0.250,25.0,40.0,1
3116,2020-12-27,22000032,1610612766,1610612751,2020,1610612766,106.0,0.448,0.588,0.294,35.0,52.0,1610612751,104.0,0.427,0.680,0.362,23.0,46.0,1
2515,2020-12-27,22000032,1610612766,1610612751,2020,1610612766,106.0,0.448,0.588,0.294,35.0,52.0,1610612751,104.0,0.427,0.680,0.362,23.0,46.0,1
2517,2020-12-27,22000034,1610612740,1610612759,2020,1610612740,98.0,0.383,0.724,0.208,15.0,56.0,1610612759,95.0,0.427,1.000,0.306,26.0,47.0,1
3117,2020-12-27,22000034,1610612740,1610612759,2020,1610612740,98.0,0.383,0.724,0.208,15.0,56.0,1610612759,95.0,0.427,1.000,0.306,26.0,47.0,1
3118,2020-12-27,22000037,1610612754,1610612738,2020,1610612754,108.0,0.511,0.733,0.269,23.0,37.0,1610612738,107.0,0.506,0.750,0.391,21.0,40.0,1
2520,2020-12-27,22000037,1610612754,1610612738,2020,1610612754,108.0,0.511,0.733,0.269,23.0,37.0,1610612738,107.0,0.506,0.750,0.391,21.0,40.0,1
2521,2020-12-27,22000038,1610612741,1610612744,2020,1610612741,128.0,0.512,0.742,0.415,27.0,54.0,1610612744,129.0,0.404,0.900,0.383,25.0,41.0,0
3119,2020-12-27,22000038,1610612741,1610612744,2020,1610612741,128.0,0.512,0.742,0.415,27.0,54.0,1610612744,129.0,0.404,0.900,0.383,25.0,41.0,0
3114,2020-12-28,22000042,1610612751,1610612763,2020,1610612751,111.0,0.410,0.882,0.333,28.0,50.0,1610612763,116.0,0.429,0.759,0.345,20.0,56.0,0
2510,2020-12-28,22000042,1610612751,1610612763,2020,1610612751,111.0,0.410,0.882,0.333,28.0,50.0,1610612763,116.0,0.429,0.759,0.345,20.0,56.0,0
3115,2020-12-28,22000044,1610612743,1610612745,2020,1610612743,124.0,0.529,0.563,0.452,31.0,52.0,1610612745,111.0,0.453,0.739,0.410,25.0,38.0,1
2512,2020-12-28,22000044,1610612743,1610612745,2020,1610612743,124.0,0.529,0.563,0.452,31.0,52.0,1610612745,111.0,0.453,0.739,0.410,25.0,38.0,1
2499,2020-12-29,22000046,1610612739,1610612752,2020,1610612739,86.0,0.364,0.682,0.219,22.0,43.0,1610612752,95.0,0.430,0.619,0.560,23.0,55.0,0
3109,2020-12-29,22000046,1610612739,1610612752,2020,1610612739,86.0,0.364,0.682,0.219,22.0,43.0,1610612752,95.0,0.430,0.619,0.560,23.0,55.0,0
3110,2020-12-29,22000049,1610612755,1610612761,2020,1610612755,100.0,0.381,0.848,0.258,21.0,54.0,1610612761,93.0,0.356,0.857,0.378,21.0,47.0,1
2502,2020-12-29,22000049,1610612755,1610612761,2020,1610612755,100.0,0.381,0.848,0.258,21.0,54.0,1610612761,93.0,0.356,0.857,0.378,21.0,47.0,1
2504,2020-12-29,22000051,1610612748,1610612749,2020,1610612748,97.0,0.468,0.667,0.297,23.0,30.0,1610612749,144.0,0.554,0.867,0.569,32.0,45.0,0
3111,2020-12-29,22000051,1610612748,1610612749,2020,1610612748,97.0,0.468,0.667,0.297,23.0,30.0,1610612749,144.0,0.554,0.867,0.569,32.0,45.0,0
3112,2020-12-29,22000053,1610612756,1610612740,2020,1610612756,111.0,0.440,0.947,0.404,24.0,43.0,1610612740,86.0,0.481,0.500,0.125,18.0,41.0,1
2506,2020-12-29,22000053,1610612756,1610612740,2020,1610612756,111.0,0.440,0.947,0.404,24.0,43.0,1610612740,86.0,0.481,0.500,0.125,18.0,41.0,1
2508,2020-12-29,22000055,1610612758,1610612743,2020,1610612758,125.0,0.489,0.773,0.485,33.0,37.0,1610612743,115.0,0.543,0.800,0.393,27.0,39.0,1
3113,2020-12-29,22000055,1610612758,1610612743,2020,1610612758,125.0,0.489,0.773,0.485,33.0,37.0,1610612743,115.0,0.543,0.800,0.393,27.0,39.0,1
3108,2020-12-30,22000057,1610612751,1610612737,2020,1610612751,145.0,0.540,0.783,0.463,30.0,40.0,1610612737,141.0,0.475,0.829,0.391,27.0,54.0,1
2494,2020-12-30,22000057,1610612751,1610612737,2020,1610612751,145.0,0.540,0.783,0.463,30.0,40.0,1610612737,141.0,0.475,0.829,0.391,27.0,54.0,1
2489,2020-12-31,22000065,1610612745,1610612758,2020,1610612745,122.0,0.523,0.760,0.361,26.0,45.0,1610612758,119.0,0.469,0.750,0.333,23.0,45.0,1
3106,2020-12-31,22000065,1610612745,1610612758,2020,1610612745,122.0,0.523,0.760,0.361,26.0,45.0,1610612758,119.0,0.469,0.750,0.333,23.0,45.0,1
3107,2020-12-31,22000067,1610612760,1610612740,2020,1610612760,80.0,0.375,0.333,0.313,24.0,40.0,1610612740,113.0,0.484,0.632,0.361,23.0,58.0,0
2491,2020-12-31,22000067,1610612760,1610612740,2020,1610612760,80.0,0.375,0.333,0.313,24.0,40.0,1610612740,113.0,0.484,0.632,0.361,23.0,58.0,0
3102,2021-01-01,22000070,1610612765,1610612738,2020,1610612765,96.0,0.409,0.650,0.324,18.0,48.0,1610612738,93.0,0.470,0.500,0.258,20.0,44.0,1
2477,2021-01-01,22000070,1610612765,1610612738,2020,1610612765,96.0,0.409,0.650,0.324,18.0,48.0,1610612738,93.0,0.470,0.500,0.258,20.0,45.0,1
2479,2021-01-01,22000072,1610612751,1610612737,2020,1610612751,96.0,0.407,0.826,0.189,19.0,45.0,1610612737,114.0,0.462,0.857,0.410,24.0,48.0,0
3103,2021-01-01,22000072,1610612751,1610612737,2020,1610612751,96.0,0.407,0.826,0.189,19.0,45.0,1610612737,114.0,0.462,0.857,0.410,24.0,48.0,0
2483,2021-01-01,22000076,1610612743,1610612756,2020,1610612743,103.0,0.459,0.813,0.414,28.0,38.0,1610612756,106.0,0.487,0.905,0.371,24.0,37.0,0
3104,2021-01-01,22000076,1610612743,1610612756,2020,1610612743,103.0,0.453,0.813,0.414,28.0,38.0,1610612756,106.0,0.487,0.905,0.371,24.0,37.0,0
2484,2021-01-01,22000077,1610612762,1610612746,2020,1610612762,106.0,0.461,0.643,0.357,28.0,46.0,1610612746,100.0,0.388,0.875,0.394,19.0,43.0,1
3105,2021-01-01,22000077,1610612762,1610612746,2020,1610612762,106.0,0.461,0.643,0.357,28.0,46.0,1610612746,100.0,0.388,0.875,0.394,19.0,43.0,1

In [51]:
li=[]

In [52]:
for i in games_vc_df[games_vc_df['count']==2].index:
    li.append((games_df_v1[games_df_v1['GAME_ID']==i].iloc[0])==(games_df_v1[games_df_v1['GAME_ID']==i].iloc[0]))

In [53]:
for i in li:
    print(np.where(i.values==False))

(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)

In [54]:
games_df_v1.shape,games_df.shape

((26552, 20), (26651, 21))

In [55]:
games_df_v1.drop_duplicates(subset=['GAME_ID'],keep='first',inplace=True)

In [56]:
games_df_v1.isnull().sum()

GAME_DATE_EST      0
GAME_ID            0
HOME_TEAM_ID       0
VISITOR_TEAM_ID    0
SEASON             0
TEAM_ID_home       0
PTS_home           0
FG_PCT_home        0
FT_PCT_home        0
FG3_PCT_home       0
AST_home           0
REB_home           0
TEAM_ID_away       0
PTS_away           0
FG_PCT_away        0
FT_PCT_away        0
FG3_PCT_away       0
AST_away           0
REB_away           0
HOME_TEAM_WINS     0
dtype: int64

In [57]:
games_df_v1.drop(columns=['TEAM_ID_home','TEAM_ID_away'],axis=1,inplace=True)

In [58]:
games_df_v1.sort_values(by=['GAME_DATE_EST'])

,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
19288,2003-10-05,10300001,1610612762,1610612742,2003,90.0,0.457,0.735,0.143,23.0,41.0,85.0,0.447,0.500,0.250,20.0,38.0,1
19287,2003-10-06,10300002,1610612763,1610612749,2003,105.0,0.494,0.618,0.267,25.0,48.0,94.0,0.427,0.700,0.154,20.0,43.0,1
19280,2003-10-07,10300010,1610612764,1610612752,2003,104.0,0.506,0.677,0.455,26.0,45.0,86.0,0.380,0.852,0.188,19.0,37.0,1
19286,2003-10-07,10300009,1610612758,1610612746,2003,101.0,0.467,0.871,0.444,19.0,39.0,82.0,0.368,0.609,0.364,13.0,50.0,1
19285,2003-10-07,10300005,1610612757,1610612745,2003,104.0,0.527,0.657,0.429,22.0,33.0,80.0,0.470,0.667,0.333,10.0,37.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,2022-12-21,22200469,1610612738,1610612754,2022,112.0,0.386,0.840,0.317,26.0,62.0,117.0,0.469,0.778,0.462,27.0,47.0,0
4,2022-12-21,22200468,1610612737,1610612741,2022,108.0,0.429,1.000,0.378,22.0,47.0,110.0,0.500,0.773,0.292,20.0,47.0,0
3,2022-12-21,22200467,1610612755,1610612765,2022,113.0,0.441,0.909,0.297,27.0,49.0,93.0,0.392,0.735,0.261,15.0,46.0,1
1,2022-12-22,22200478,1610612762,1610612764,2022,120.0,0.488,0.952,0.457,16.0,40.0,112.0,0.561,0.765,0.333,20.0,37.0,1
0,2022-12-22,22200477,1610612740,1610612759,2022,126.0,0.484,0.926,0.382,25.0,46.0,117.0,0.478,0.815,0.321,23.0,44.0,1

In [59]:
games_df.GAME_ID.value_counts()

GAME_ID
22000057    2
22000034    2
22000028    2
22000015    2
22000037    2
           ..
22200416    1
22200417    1
22200418    1
22200419    1
22200471    1
Name: count, Length: 26622, dtype: int64

In [60]:
games_df_v1

,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-12-22,22200477,1610612740,1610612759,2022,126.0,0.484,0.926,0.382,25.0,46.0,117.0,0.478,0.815,0.321,23.0,44.0,1
1,2022-12-22,22200478,1610612762,1610612764,2022,120.0,0.488,0.952,0.457,16.0,40.0,112.0,0.561,0.765,0.333,20.0,37.0,1
2,2022-12-21,22200466,1610612739,1610612749,2022,114.0,0.482,0.786,0.313,22.0,37.0,106.0,0.470,0.682,0.433,20.0,46.0,1
3,2022-12-21,22200467,1610612755,1610612765,2022,113.0,0.441,0.909,0.297,27.0,49.0,93.0,0.392,0.735,0.261,15.0,46.0,1
4,2022-12-21,22200468,1610612737,1610612741,2022,108.0,0.429,1.000,0.378,22.0,47.0,110.0,0.500,0.773,0.292,20.0,47.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26646,2014-10-06,11400007,1610612737,1610612740,2014,93.0,0.419,0.821,0.421,24.0,50.0,87.0,0.366,0.643,0.375,17.0,43.0,1
26647,2014-10-06,11400004,1610612741,1610612764,2014,81.0,0.338,0.719,0.381,18.0,40.0,85.0,0.411,0.636,0.267,17.0,47.0,0
26648,2014-10-06,11400005,1610612747,1610612743,2014,98.0,0.448,0.682,0.500,29.0,45.0,95.0,0.387,0.659,0.500,19.0,43.0,1
26649,2014-10-05,11400002,1610612761,1610612758,2014,99.0,0.440,0.771,0.333,21.0,30.0,94.0,0.469,0.725,0.385,18.0,45.0,1
26650,2014-10-04,11400001,1610612748,1610612740,2014,86.0,0.431,0.679,0.333,18.0,42.0,98.0,0.462,0.706,0.438,19.0,42.0,0

In [61]:
games_df_v1.shape,games_df.shape

((26523, 18), (26651, 21))

In [62]:
games_df_v1.sort_values(by=['GAME_DATE_EST']).head(2)

,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
19288,2003-10-05,10300001,1610612762,1610612742,2003,90.0,0.457,0.735,0.143,23.0,41.0,85.0,0.447,0.5,0.250,20.0,38.0,1
19287,2003-10-06,10300002,1610612763,1610612749,2003,105.0,0.494,0.618,0.267,25.0,48.0,94.0,0.427,0.7,0.154,20.0,43.0,1

In [64]:
teams_df.columns

Index(['LEAGUE_ID', 'TEAM_ID', 'MIN_YEAR', 'MAX_YEAR', 'ABBREVIATION',
       'NICKNAME', 'YEARFOUNDED', 'CITY', 'ARENA', 'ARENACAPACITY', 'OWNER',
       'GENERALMANAGER', 'HEADCOACH', 'DLEAGUEAFFILIATION'],
      dtype='object')

In [65]:
teams_df.drop(columns=['LEAGUE_ID'],axis=1,inplace=True)

In [66]:
teams_df

,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,1610612737,1949,2019,ATL,Hawks,1949,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Lloyd Pierce,Erie Bayhawks
1,1610612738,1946,2019,BOS,Celtics,1946,Boston,TD Garden,18624.0,Wyc Grousbeck,Danny Ainge,Brad Stevens,Maine Red Claws
2,1610612740,2002,2019,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
3,1610612741,1966,2019,CHI,Bulls,1966,Chicago,United Center,21711.0,Jerry Reinsdorf,Gar Forman,Jim Boylen,Windy City Bulls
4,1610612742,1980,2019,DAL,Mavericks,1980,Dallas,American Airlines Center,19200.0,Mark Cuban,Donnie Nelson,Rick Carlisle,Texas Legends
5,1610612743,1976,2019,DEN,Nuggets,1976,Denver,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate
6,1610612745,1967,2019,HOU,Rockets,1967,Houston,Toyota Center,18104.0,Tilman Fertitta,Daryl Morey,Mike D'Antoni,Rio Grande Valley Vipers
7,1610612746,1970,2019,LAC,Clippers,1970,Los Angeles,Staples Center,19060.0,Steve Ballmer,Michael Winger,Doc Rivers,Agua Caliente Clippers of Ontario
8,1610612747,1948,2019,LAL,Lakers,1948,Los Angeles,Staples Center,19060.0,Jerry Buss Family Trust,Rob Pelinka,Frank Vogel,South Bay Lakers
9,1610612748,1988,2019,MIA,Heat,1988,Miami,AmericanAirlines Arena,19600.0,Micky Arison,Pat Riley,Erik Spoelstra,Sioux Falls Skyforce
10,1610612749,1968,2019,MIL,Bucks,1968,Milwaukee,Fiserv Forum,17500.0,Wesley Edens & Marc Lasry,Jon Horst,Mike Budenholzer,Wisconsin Herd
11,1610612750,1989,2019,MIN,Timberwolves,1989,Minnesota,Target Center,19356.0,Glen Taylor,Scott Layden,Ryan Saunders,Iowa Wolves
12,1610612751,1976,2019,BKN,Nets,1976,Brooklyn,Barclays Center,NaN,Joe Tsai,Sean Marks,Kenny Atkinson,Long Island Nets
13,1610612752,1946,2019,NYK,Knicks,1946,New York,Madison Square Garden,19763.0,Cablevision (James Dolan),Steve Mills,David Fizdale,Westchester Knicks
14,1610612753,1989,2019,ORL,Magic,1989,Orlando,Amway Center,0.0,Rick DeVos,John Hammond,Steve Clifford,Lakeland Magic
15,1610612754,1976,2019,IND,Pacers,1976,Indiana,Bankers Life Fieldhouse,18345.0,Herb Simon,Kevin Pritchard,Nate McMillan,Fort Wayne Mad Ants
16,1610612755,1949,2019,PHI,76ers,1949,Philadelphia,Wells Fargo Center,NaN,Joshua Harris,Elton Brand,Brett Brown,Delaware Blue Coats
17,1610612756,1968,2019,PHX,Suns,1968,Phoenix,Talking Stick Resort Arena,NaN,Robert Sarver,James Jones,Monty Williams,Northern Arizona Suns
18,1610612757,1970,2019,POR,Trail Blazers,1970,Portland,Moda Center,19980.0,Paul Allen,Neil Olshey,Terry Stotts,No Affiliate
19,1610612758,1948,2019,SAC,Kings,1948,Sacramento,Golden 1 Center,17500.0,Vivek Ranadive,Vlade Divac,Luke Walton,Stockton Kings
20,1610612759,1976,2019,SAS,Spurs,1976,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
21,1610612760,1967,2019,OKC,Thunder,1967,Oklahoma City,Chesapeake Energy Arena,19163.0,Clay Bennett,Sam Presti,Billy Donovan,Oklahoma City Blue
22,1610612761,1995,2019,TOR,Raptors,1995,Toronto,Scotiabank Arena,19800.0,Maple Leaf Sports and Entertainment,Masai Ujiri,Nick Nurse,Raptors 905
23,1610612762,1974,2019,UTA,Jazz,1974,Utah,Vivint Smart Home Arena,20148.0,Greg Miller,Dennis Lindsey,Quin Snyder,Salt Lake City Stars
24,1610612763,1995,2019,MEM,Grizzlies,1995,Memphis,FedExForum,18119.0,Robert Pera,Zach Kleiman,Taylor Jenkins,Memphis Hustle
25,1610612764,1961,2019,WAS,Wizards,1961,Washington,Capital One Arena,20647.0,Ted Leonsis,Tommy Sheppard,Scott Brooks,Capital City Go-Go
26,1610612765,1948,2019,DET,Pistons,1948,Detroit,Little Caesars Arena,21000.0,Tom Gores,Ed Stefanski,Dwane Casey,Grand Rapids Drive
27,1610612766,1988,2019,CHA,Hornets,1988,Charlotte,Spectrum Center,19026.0,Michael Jordan,Mitch Kupchak,James Borrego,Greensboro Swarm
28,1610612739,1970,2019,CLE,Cavaliers,1970,Cleveland,Quicken Loans Arena,20562.0,Dan Gilbert,Koby Altman,John Beilein,Canton Charge
29,1610612744,1946,2019,GSW,Warriors,1946,Golden State,Chase Center,19596.0,Joe Lacob,Bob Myers,Steve Kerr,Santa Cruz Warriors

In [67]:
games_df_v1=games_df_v1.merge(teams_df[['TEAM_ID','NICKNAME','ABBREVIATION']].rename(columns={"NICKNAME":"HOME_TEAM","ABBREVIATION":"HOME_ABBREVIATION"}),left_on="HOME_TEAM_ID",right_on="TEAM_ID",how="left").drop(columns=["TEAM_ID"])

In [68]:
games_df_v1=games_df_v1.merge(teams_df[['TEAM_ID','NICKNAME','ABBREVIATION']].rename(columns={"NICKNAME":"AWAY_TEAM","ABBREVIATION":"AWAY_ABBREVIATION"}),left_on="VISITOR_TEAM_ID",right_on="TEAM_ID",how="left").drop(columns=["TEAM_ID"])

In [69]:
games_df_v1.to_parquet(r"C:\Users\benij\ds_project\statistella_project\data\output\games.parquet")

In [70]:
games_details_df.isnull().sum()

GAME_ID                   0
TEAM_ID                   0
TEAM_ABBREVIATION         0
TEAM_CITY                 0
PLAYER_ID                 0
PLAYER_NAME               0
NICKNAME             615591
START_POSITION       412863
COMMENT              558939
MIN                  109690
FGM                  109690
FGA                  109690
FG_PCT               109690
FG3M                 109690
FG3A                 109690
FG3_PCT              109690
FTM                  109690
FTA                  109690
FT_PCT               109690
OREB                 109690
DREB                 109690
REB                  109690
AST                  109690
STL                  109690
BLK                  109690
TO                   109690
PF                   109690
PTS                  109690
PLUS_MINUS           133351
dtype: int64

In [71]:
games_details_df[~games_details_df['MIN'].isna()].isnull().sum()

GAME_ID                   0
TEAM_ID                   0
TEAM_ABBREVIATION         0
TEAM_CITY                 0
PLAYER_ID                 0
PLAYER_NAME               0
NICKNAME             515542
START_POSITION       303173
COMMENT              558938
MIN                       0
FGM                       0
FGA                       0
FG_PCT                    0
FG3M                      0
FG3A                      0
FG3_PCT                   0
FTM                       0
FTA                       0
FT_PCT                    0
OREB                      0
DREB                      0
REB                       0
AST                       0
STL                       0
BLK                       0
TO                        0
PF                        0
PTS                       0
PLUS_MINUS            23661
dtype: int64

In [72]:
games_details_df.shape,games_df_v1.shape

((668628, 29), (26523, 22))

In [73]:
games_details_df_v1=games_details_df[~games_details_df['MIN'].isna()]

In [74]:
games_details_df_v1.isna().sum()

GAME_ID                   0
TEAM_ID                   0
TEAM_ABBREVIATION         0
TEAM_CITY                 0
PLAYER_ID                 0
PLAYER_NAME               0
NICKNAME             515542
START_POSITION       303173
COMMENT              558938
MIN                       0
FGM                       0
FGA                       0
FG_PCT                    0
FG3M                      0
FG3A                      0
FG3_PCT                   0
FTM                       0
FTA                       0
FT_PCT                    0
OREB                      0
DREB                      0
REB                       0
AST                       0
STL                       0
BLK                       0
TO                        0
PF                        0
PTS                       0
PLUS_MINUS            23661
dtype: int64

In [75]:
games_details_df_v1.shape,games_details_df

((558938, 29),
          GAME_ID     TEAM_ID TEAM_ABBREVIATION    TEAM_CITY  PLAYER_ID  \
 0       22200477  1610612759               SAS  San Antonio    1629641
 1       22200477  1610612759               SAS  San Antonio    1631110
 2       22200477  1610612759               SAS  San Antonio    1627751
 3       22200477  1610612759               SAS  San Antonio    1630170
 4       22200477  1610612759               SAS  San Antonio    1630200
 ...          ...         ...               ...          ...        ...
 668623  11200005  1610612743               DEN       Denver     202706
 668624  11200005  1610612743               DEN       Denver     202702
 668625  11200005  1610612743               DEN       Denver     201585
 668626  11200005  1610612743               DEN       Denver     202389
 668627  11200005  1610612743               DEN       Denver     201951

             PLAYER_NAME NICKNAME START_POSITION COMMENT    MIN  ...  OREB  \
 0        Romeo Langford    Romeo              F     NaN  18:06  ...   1.0
 1         Jeremy Sochan   Jeremy              F     NaN  31:01  ...   6.0
 2          Jakob Poeltl    Jakob              C     NaN  21:42  ...   1.0
 3         Devin Vassell    Devin              G     NaN  30:20  ...   0.0
 4             Tre Jones      Tre              G     NaN  27:44  ...   0.0
 ...                 ...      ...            ...     ...    ...  ...   ...
 668623  Jordan Hamilton      NaN            NaN     NaN     19  ...   0.0
 668624   Kenneth Faried      NaN            NaN     NaN     23  ...   1.0
 668625     Kosta Koufos      NaN            NaN     NaN     15  ...   3.0
 668626   Timofey Mozgov      NaN            NaN     NaN     19  ...   1.0
 668627        Ty Lawson      NaN            NaN     NaN     27  ...   0.0

         DREB  REB  AST  STL  BLK   TO   PF   PTS  PLUS_MINUS
 0        1.0  2.0  0.0  1.0  0.0  2.0  5.0   2.0        -2.0
 1        3.0  9.0  6.0  1.0  0.0  2.0  1.0  23.0       -14.0
 2        3.0  4.0  1.0  1.0  0.0  2.0  4.0  13.0        -4.0
 3        9.0  9.0  5.0  3.0  0.0  2.0  1.0  10.0       -18.0
 4        2.0  2.0  3.0  0.0  0.0  2.0  2.0  19.0         0.0
 ...      ...  ...  ...  ...  ...  ...  ...   ...         ...
 668623   2.0  2.0  0.0  2.0  0.0  1.0  3.0  17.0         NaN
 668624   0.0  1.0  1.0  1.0  0.0  3.0  3.0  18.0         NaN
 668625   5.0  8.0  0.0  1.0  0.0  0.0  3.0   6.0         NaN
 668626   2.0  3.0  1.0  0.0  0.0  4.0  2.0   2.0         NaN
 668627   2.0  2.0  6.0  2.0  0.0  6.0  1.0   8.0         NaN

 [668628 rows x 29 columns])

In [76]:
games_details_df_v1.drop('COMMENT',axis=1,inplace=True)

C:\Users\benij\AppData\Local\Temp\ipykernel_31080\1296053995.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  games_details_df_v1.drop('COMMENT',axis=1,inplace=True)

In [77]:
games_details_df_v1.shape

(558938, 28)

In [78]:
games_details_df_v1.GAME_ID.value_counts().mean()

np.float64(21.073709610526713)

In [79]:
games_details_df_v1['MIN']

0         18:06
1         31:01
2         21:42
3         30:20
4         27:44
          ...
668623       19
668624       23
668625       15
668626       19
668627       27
Name: MIN, Length: 558938, dtype: object

In [81]:
games_details_df_v1['MIN'].replace(":",".")

0         18:06
1         31:01
2         21:42
3         30:20
4         27:44
          ...
668623       19
668624       23
668625       15
668626       19
668627       27
Name: MIN, Length: 558938, dtype: object

In [84]:
games_details_df_v1['MIN']=games_details_df_v1['MIN'].str.replace(":",".").str.replace(".000000","").astype('float')

C:\Users\benij\AppData\Local\Temp\ipykernel_31080\2261393171.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  games_details_df_v1['MIN']=games_details_df_v1['MIN'].str.replace(":",".").str.replace(".000000","").astype('float')

In [89]:
games_details_df_v1.MIN.mode()

0    12.0
Name: MIN, dtype: float64

In [ ]:
g

0         1629641
1         1631110
2         1627751
3         1630170
4         1630200
           ...
668623     202706
668624     202702
668625     201585
668626     202389
668627     201951
Name: PLAYER_ID, Length: 558938, dtype: int64